.top{
    color:  #dc3545;
    font-weight: 700;
}

.what{
    color:  #dc3545;
    font-weight: 800;
}

.name{
    color:  #dc3545;
    font-weight: 800;
}

.whyy{
    color:  #dc3545;
    font-weight: 900;
}

.img-fluid {
    max-width: 55%;
    height: auto;
}