.top{
    color: #ff6c4a;
    font-weight: 700;
}

.what{
    color: #ff6c4a;
    font-weight: 800;
}

.name{
    color: #ff6c4a;
    font-weight: 800;
}

.whyy{
    color: #ff6c4a;
    font-weight: 900;
}