  .track-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar{
    padding: 30px;
  }

  .track-btn:hover {
    background-color: green;
    color: white;
  }

  .navbar-collapse{
    background-color: #dc3545;
  position: absolute;
  margin-top: 142%;
  left: 20px;
  padding: 30px;
  color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all 0.5s ease-in-out;
  }


.navbar-collapse.collapse {
  transform: translateX(-100%);
  opacity: 0;
}

.navbar-collapse.show {
  transform: translateX(0);
  opacity: 1;
}

.navbar-toggler {
  z-index: 2; /* Ensures the toggler is on top of the nav */
}

.navbar-toggler-icon {
  /* background-color: white;
  border-radius: 50%;
  padding: 5px; */
}
 


  @media only screen and (max-width: 767px) {
    .navbar-collapse.nav-item:hover{
      color: #dc3545;
      font-weight: 700;
      background-color: white;
      border-radius: 10px;
      margin-right: 10px;
      margin-right: 10px;
    }

    .navbar{
      padding: 30px;
      border-radius: 10px;
    }
  }
  .logo-img {
    width: 150px; 
    height: auto;
    margin-right: 10.5px;
  }

  .active:hover{
    color: white;
    font-weight: 700;
    background-color: #dc3545;
    border-radius: 10px; 
  }

  .navbar-toggler{
    background-color: #dc3545;
    
  }

 
  .nav-item:hover{
    color: white;
    font-weight: 700;
    background-color: #dc3545;
    border-radius: 10px;
    margin-right: 10px;
    margin-right: 10px;
  }

.nav-item{
  padding: 10px;
}
  

.slide-out {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.5s ease-out;
}


.slide-in {
  opacity: 1;
  transform: translateY(0); 
  transition: all 0.5s ease-out;
}


.li-slide-out li {
  opacity: 0;
  transform: translateX(-50px); 
  transition: all 0.5s ease-out;
}


.li-slide-in li {
  opacity: 1;
  transform: translateX(0); 
  transition: all 0.5s ease-out;
}


.li-slide-in li:nth-child(1) {
  transition-delay: 0.1s;
}

.li-slide-in li:nth-child(2) {
  transition-delay: 0.2s;
}

.li-slide-in li:nth-child(3) {
  transition-delay: 0.3s;
}

.li-slide-in li:nth-child(4) {
  transition-delay: 0.4s;
}

.li-slide-in li:nth-child(5) {
  transition-delay: 0.5s;
}